:root {
    --bg-dark: #0d1117;
    --bg-light: #161b22;
    --text-light: #ffffff;
    --border-light: #3d4247;
}
body {
    background-color: var(--bg-dark);
    color: var(--text-light);
}
.bg-maroon {
    background-color: rgb(122,0,25);
    color: #fff;
}
.bg-gold {
    background-color: rgb(255,204,51);
    color: #222;
}
.hr-custom {
    border: 1px solid var(--border-light);
    height: 2px;
    border-radius: 1px;
    opacity: 1;
}
.navbar {
    background-color: rgba(22, 27, 34, 0.15);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--border-light);
}
.navbar-nav .nav-link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0d6efd;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.navbar-nav .nav-link:hover {
    color: #0d6efd;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
.card {
    background-color: var(--bg-light);
    border: 1px solid var(--border-light);
    transition: transform 0.4s ease;
}
.card-title {
    color: var(--text-light);
}
#projects .card:hover {
    animation: animate__pulse 0.4s;
    transform: scale(1.03);
}
footer, .card-footer {
    border-top: 1px solid var(--border-light);
    background-color: var(--bg-light);
}